<html>
    <head>

    </head>
    <body>
        <p> This is the registration page. </p>

        {% from "_formhelpers.html" import render_field %}
        <div id='loginformdiv'>
            <form action="{{ url_for('register') }}" method="POST">
                <dl>
                {{ render_field(form.email) }}
                {{ render_field(form.firstname) }}
                {{ render_field(form.lastname) }}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                </dl>

                {{ form.csrf_token }}
                <button type="submit">Register</button>
            </form>
            <form action="{{ url_for('login') }}">
                <button type="submit">Login</button>
            </form>
        </div>
        {{ render_footer()|safe }}
    </body>
</html>
